{% extends 'image_handler/base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h2 class="mb-4">Class Assigned Successfully</h2>
                <p>The class has been assigned to the image.</p>
            </div>
            <div class="text-center mt-4">
                <form action="{% url 'upload_image' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Upload Another Image</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
